/* footer.css */

.footer {
  background-color: #020617;
  border-top: 1px solid #1e293b;
  padding: 60px 20px;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 40px;
  color: #cbd5f5;
}

/* Brand section */
.footer-brand h3 {
  padding-left: 10px;
  font-size: 24px;
  margin-bottom: 12px;
  color: #ffffff;
}

.footer-brand p {
  font-size: 16px;
  padding-left: 50px;
  line-height: 1.6;
  color: #808285;
}

/* Links section */
.footer-links h4 {
  font-size: 16px;
  padding-left: 140px;
  margin-bottom: 12px;
  color: #ffffff;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li {
  font-size: 16px;
  margin-bottom: 10px;
  padding-left: 140px;
  color: #94a3b8;
  cursor: pointer;
  transition: color 0.2s ease;
}
.footer-links1 h4 {
  font-size: 16px;
  padding-left: 120px;
  margin-bottom: 12px;
  color: #ffffff;
}

.footer-links1 ul {
  list-style: none;
  padding: 0;
}

.footer-links1 li {
  font-size: 16px;
  margin-bottom: 10px;
  padding-left: 120px;
  color: #94a3b8;
  cursor: pointer;
  transition: color 0.2s ease;
}

.footer-links li:hover {
  color: #10b981;
}
.footer-links1 li:hover {
  color: #10b981;
}


/* Responsive */
@media (max-width: 768px) {
  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
